*{
  margin: 100;
  padding:100;
}


.logo img{
  width: 80px;
  height: 80px;

}

.topnav{
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.topnav a{
  float: left;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  width: 25px;
  text-align: center;
}

.topnav a:hover{
  background-color: #000;
}

.topnav a.active{
  background-color: #04aa6d;
}

@media screen and (max-width: 500px) {
  .topnav a{
    float: none;
    display: block;
    width: 100px;
    text-align: left;
  }
}

h1{
  text-align: left;
  font-size: 5vh;
  color: #9A031E;
  font-weight: bolder;
  font-family: sans-serif;
}


.services{
  text-align: center;
  text-decoration: underline overline;
  font-size: 4vh;
  text-decoration-color: green;
  }

.layer3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:15px 15px 15px 15px hsl(0deg 0% 0% / 0.5);
  padding:0 15px 0 15px;
  font-size: 5vh;
  color: #9A031E
}

.layer4{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow:15px 15px 15px 15px hsl(0deg 0% 0% / 0.5);
}

.layer4 p{
  font-size: 3vh;
  justify-content: space-around;
  text-align: center;
}

.layer5{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:15px 15px 15px 15px hsl(0deg 0% 0% / 0.5);
  padding:0 15px 0 15px;
  font-size: 5vh;
  color: #9A031E
}

.layer6{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow:15px 15px 15px 15px hsl(0deg 0% 0% / 0.5);
}

.layer6 p{
  font-size: 3vh;
  justify-content: space-around;
  text-align: center;
}

.gallery h2{
color: navy;
text-align: center;
padding: 10vh;
}

.gallery img{
  width: 300px;
  height: 300px;
}

footer{
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
  color: white;
}
